# Ex2 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [38]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [39]:
chipo =pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [40]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [41]:
# Solution 1
print(chipo.describe())

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [42]:
# Solution 2
print(chipo.shape[0])

4622

### Step 6. What is the number of columns in the dataset?

In [43]:
print(chipo.shape[1])

5

### Step 7. Print the name of all the columns.

In [44]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [45]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [56]:
chipo.groupby('order_id').sum()

,quantity,item_name,choice_description,item_price,revenue
order_id,,,,,
1,4,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,[Clementine][Apple],11.56,11.56
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
3,2,Chicken BowlSide of Chips,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",12.67,12.67
4,2,Steak BurritoSteak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",21.00,21.00
5,2,Steak BurritoChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",13.70,13.70
...,...,...,...,...,...
1830,2,Steak BurritoVeggie Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",23.00,23.00
1831,3,Carnitas BowlChipsBottled Water,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",12.90,12.90
1832,2,Chicken Soft TacosChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",13.20,13.20
1833,2,Steak BurritoSteak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",23.50,23.50
1834,3,Chicken Salad BowlChicken Salad BowlChicken Sa...,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",28.75,28.75

### Step 10. For the most-ordered item, how many items were ordered?

In [46]:
chipo.groupby('order_id').sum()

,quantity,item_name,choice_description,item_price
order_id,,,,
1,4,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,[Clementine][Apple],$2.39 $3.39 $3.39 $2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,2,Chicken BowlSide of Chips,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98 $1.69
4,2,Steak BurritoSteak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75 $9.25
5,2,Steak BurritoChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25 $4.45
...,...,...,...,...
1830,2,Steak BurritoVeggie Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75 $11.25
1831,3,Carnitas BowlChipsBottled Water,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25 $2.15 $1.50
1832,2,Chicken Soft TacosChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75 $4.45
1833,2,Steak BurritoSteak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75 $11.75
1834,3,Chicken Salad BowlChicken Salad BowlChicken Sa...,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25 $8.75 $8.75

### Step 11. What was the most ordered item in the choice_description column?

In [47]:
a=chipo.groupby('order_id').sum()
a.head(1)

,quantity,item_name,choice_description,item_price
order_id,,,,
1,4,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,[Clementine][Apple],$2.39 $3.39 $3.39 $2.39

### Step 12. How many items were orderd in total?

In [48]:
print(chipo['quantity'].sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [49]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [50]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

#### Step 13.c. Check the item price type

In [51]:
print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [52]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_revenue = chipo['revenue'].sum()
print(f"Total revenue: ${total_revenue:.2f}")

Total revenue: $39237.02

### Step 15. How many orders were made in the period?

In [53]:
total_orders = chipo['order_id'].nunique()
print(f"Total orders: {total_orders}")

Total orders: 1834

### Step 16. What is the average revenue amount per order?

In [54]:
# Solution 2
x=total_revenue/total_orders
print(x)

21.39423118865867

### Step 17. How many different items are sold?

In [55]:
uni_item = chipo['item_name'].nunique()
print(f"Unique items: {uni_item}")

Unique items: 50